<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Create Course</title>
</head>

<body>

<section layout:fragment="content" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Thêm khóa học</h5>
                    <form th:action="@{/course/create}" th:object="${course}" method="post">
                        <div class="mb-3">
                            <label for="place" class="form-label">Giá</label>
                            <input class="form-control" type="text" th:field="*{place}" id="place" placeholder="Money">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Ngày bắt đầu</label>
                            <input class="form-control" type="date" th:field="*{startDate}" id="image">
                        </div>
                        <div class="mb-3">
                            <label for="lectureName" class="form-label">Tên khóa học</label>
                            <input class="form-control" type="text" th:field="*{lectureName}" id="lectureName" placeholder="Tên khóa hoọc">
                        </div>
                        <button type="submit" class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>
